Repository john-zli/proseek: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": [
    "prettier --write --plugin=@trivago/prettier-plugin-sort-imports"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

Add readme to the project
  README.md
Due: prettier --write

good changes
  client/src/App.module.less
  client/src/App.tsx
  client/src/components/prayer_chat.tsx
  client/src/index.less
  client/src/main.tsx
  client/src/styles/colors.module.less
  server/src/routes/index.ts
  server/src/routes/prayer_request_chats.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Adding in storage helpers
  common/server-api/types/prayer_request_chats.ts
  server/src/models/churches_storage.ts
  server/src/models/db_query_helper.ts
  server/src/models/prayer_request_chats_storage.ts
  server/src/models/users_storage.ts
  server/src/schemas/prayer_request_chats.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

testing and it still works
  server/src/routes/prayer_request_chats.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

storage
  server/src/models/churches_storage.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Lots of changes, but got room verification done
  client/src/api/prayer_request_chats.ts
  client/src/components/modal_manager.tsx
  client/src/components/modals/chatroom_verification_modal.tsx
  client/src/components/prayer_chat.tsx
  client/src/contexts/modal_context_provider.tsx
  client/src/hooks/use_contact_form.ts
  client/src/shared-components/modal_container.tsx
  common/server-api/types/prayer_request_chats.ts
  server/src/models/prayer_request_chats_storage.ts
  server/src/routes/prayer_request_chats.ts
  server/src/schemas/prayer_request_chats.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Normalize phone numbers
  server/src/middleware/validate.ts
  server/src/schemas/prayer_request_chats.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Fix messages onSubmit
  client/src/components/prayer_chat.tsx
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Show messages on load yay
  client/src/components/prayer_chat.tsx
  common/server-api/types/prayer_request_chats.ts
  server/src/models/prayer_request_chats_storage.ts
  server/src/routes/prayer_request_chats.ts
  server/src/schemas/prayer_request_chats.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Added some more stuff
  client/src/api/helpers.ts
  client/src/api/prayer_request_chats.ts
  client/src/components/prayer_chat.tsx
  common/server-api/types/prayer_request_chats.ts
  server/src/models/prayer_request_chats_storage.ts
  server/src/routes/prayer_request_chats.ts
  server/src/schemas/prayer_request_chats.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Okay that's good
  .eslintrc
  .eslintrc.json
  bun.lock
  client/src/components/prayer_chat.tsx
  client/src/contexts/session_context_provider.tsx
  client/src/main.tsx
  client/src/shared-components/callout.module.less
  common/server-api/types/session.ts
  server-api/src/types/session.ts
  server/package.json
  server/scripts/bootstrap.sh
  server/src/middleware/serve_static_html_file.ts
  server/src/middleware/verify_captcha.ts
  server/src/routes/api_router.ts
  server/src/routes/captcha_routes.ts
  server/src/routes/church_routes.ts
  server/src/routes/index.ts
  server/src/routes/page_router.ts
  server/src/routes/prayer_request_chats_routes.ts
  server/src/server.ts
  server/src/session.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

Remove this stupid directory
  server-api/src/types/session.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Yeah add ip tracking and store locations
  common/server-api/types/prayer_request_chats.ts
  server/package.json
  server/src/middleware/ip_geolocation.ts
  server/src/models/prayer_request_chats_storage.ts
  server/src/routes/prayer_request_chats_routes.ts
  server/src/server.ts
  server/src/sql/core.sql
  server/src/types/express.d.ts
  server/tsconfig.json
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

We figured it out yay
  client/src/components/modal_manager.tsx
  client/src/components/modals/chatroom_verification_modal.tsx
  client/src/components/modals/contact_info_modal.tsx
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Add user password and registration
  bun.lock
  common/server-api/types/session.ts
  server/package.json
  server/src/models/storage_types.ts
  server/src/models/users_storage.ts
  server/src/routes/api_router.ts
  server/src/routes/user_routes.ts
  server/src/routes/users.ts
  server/src/schemas/users.ts
  server/src/sql/core.sql
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

better
  server/scripts/migrations.sh
  server/src/sql/churches.sql
  server/src/sql/prayer_requests.sql
  server/src/sql/setup.sql
  server/src/sql/users.sql
Due: none

Okay I think this is close
  server/src/models/db_query_helper.ts
  server/src/models/users_storage.ts
  server/src/routes/user_routes.ts
  server/src/schemas/users.ts
  server/src/sql/users.sql
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

REdemption of invitation code
  server/src/sql/users.sql
Due: none

some stuff
  server/src/sql/users.sql
Due: none

Clean up some stuff
  server/src/models/storage_types.ts
  server/src/models/users_storage.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Creation of user invitation code
  common/server-api/types/session.ts
  server/src/middleware/auth.ts
  server/src/models/db_query_helper.ts
  server/src/models/storage_types.ts
  server/src/models/users_storage.ts
  server/src/routes/user_routes.ts
  server/src/schemas/users.ts
  server/src/sql/users.sql
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

okay better
  server/src/routes/user_routes.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Okay error handling mostly done
  server/src/middleware/error_handler.ts
  server/src/routes/captcha_routes.ts
  server/src/routes/church_routes.ts
  server/src/routes/prayer_request_chats_routes.ts
  server/src/routes/user_routes.ts
  server/src/server.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Error handling
  server/src/common/route_errors.ts
  server/src/middleware/validate.ts
  server/src/routes/church_routes.ts
  server/src/routes/prayer_request_chats_routes.ts
  server/src/routes/user_routes.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Bootstrap initial data
  server/scripts/migrations.sh
  server/src/sql/dev_additions.sql
  server/src/sql/users.sql
Due: none

dev only bypass
  server/src/routes/user_routes.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Okay cool login page is done
  client/src/App.module.less
  client/src/App.tsx
  client/src/api/users.ts
  client/src/components/header.tsx
  client/src/components/login_page.module.less
  client/src/components/login_page.tsx
  client/src/components/modals/chatroom_verification_modal.tsx
  client/src/components/modals/contact_info_modal.tsx
  client/src/main.tsx
  client/src/shared-components/text_input.module.less
  client/src/shared-components/text_input.tsx
  client/src/styles/colors.module.less
  client/src/styles/constants.module.less
  server/src/routes/page_router.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Fix up types
  client/src/api/users.ts
  client/src/components/login_page.tsx
  client/src/shared-components/text_input.module.less
  client/tsconfig.node.tsbuildinfo
  client/tsconfig.tsbuildinfo
  common/server-api/types/session.ts
  common/server-api/types/users.ts
  common/tsconfig.json
  server/src/middleware/auth.ts
  server/src/models/storage_types.ts
  server/src/models/users_storage.ts
  server/src/routes/api_router.ts
  server/src/routes/prayer_request_chats_routes.ts
  server/src/routes/user_routes.ts
  server/src/sql/prayer_requests.sql
  server/src/sql/users.sql
  tsconfig.json
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

Fix login bug
  common/server-api/types/prayer_request_chats.ts
  common/server-api/types/users.ts
  server/src/models/churches_storage.ts
  server/src/models/prayer_request_chats_storage.ts
  server/src/models/storage_types.ts
  server/src/models/users_storage.ts
  server/src/routes/user_routes.ts
  server/src/sql/prayer_requests.sql
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Add error handlign for client
  client/src/api/helpers.ts
  client/src/components/login_page.module.less
  client/src/components/login_page.tsx
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Add doppler and node-geocoder
  bun.lock
  package.json
  server/config/.env.development
  server/package.json
  server/src/config.ts
  server/src/middleware/ip_geolocation.ts
  server/src/routes/prayer_request_chats_routes.ts
  server/src/types/express.d.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

Updates
  package-lock.json
  server/src/index.ts
  server/src/middleware/error_handler.ts
  server/src/middleware/ip_geolocation.ts
  server/src/middleware/session.ts
  server/src/middleware/verify_captcha.ts
  server/src/models/db_query_helper.ts
  server/src/routes/captcha_routes.ts
  server/src/routes/church_routes.ts
  server/src/routes/user_routes.ts
  server/src/server.ts
  server/src/services/captcha.ts
  server/src/services/db.ts
  server/src/services/geocode.ts
  server/src/services/logger.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

Why was this added
  package-lock.json
Due: prettier --write

Package json
  bun.lock
  server/package.json
Due: prettier --write

Add bullMQ and separate workflow server
  server/ecosystem.config.js
  server/package.json
  server/src/index.ts
  server/src/types/workflows.ts
  server/src/web-server/index.ts
  server/src/web-server/queue-manager.ts
  server/src/web-server/server.ts
  server/src/workflow-server/index.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

Okay nice
  package.json
  server/package.json
  server/scripts/packages.sh
Due: prettier --write

Prettier
  bun.lock
  common/server-api/types/gender.ts
  common/server-api/types/prayer_request_chats.ts
  server/Makefile
  server/config/.env.test
  server/package.json
  server/scripts/bootstrap.sh
  server/scripts/migrations.sh
  server/scripts/setup_test_db.sh
  server/src/models/churches_storage.ts
  server/src/models/prayer_request_chats_storage.ts
  server/src/models/test/churches_storage.test.ts
  server/src/models/test/db_helpers.test.ts
  server/src/models/test/db_query_helper.test.ts
  server/src/models/test/prayer_request_chats_storage.test.ts
  server/src/models/test/users_storage.test.ts
  server/src/models/users_storage.ts
  server/src/routes/prayer_request_chats_routes.ts
  server/src/services/db.ts
  server/src/sql/dev_initialization.sql
  server/src/sql/prayer_requests.sql
  server/src/sql/users.sql
  server/src/test/db_test_helper.ts
  server/tsconfig.json
  tsconfig.json
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

All unit tests are done
  server/src/models/churches_storage.ts
  server/src/models/db_query_helper.ts
  server/src/models/storage_types.ts
  server/src/models/test/churches_storage.test.ts
  server/src/models/test/db_query_helper.test.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Add DB Test cases (#45)
  bun.lock
  common/server-api/types/gender.ts
  common/server-api/types/prayer_request_chats.ts
  server/Makefile
  server/config/.env.test
  server/package.json
  server/scripts/bootstrap.sh
  server/scripts/migrations.sh
  server/scripts/setup_test_db.sh
  server/src/models/churches_storage.ts
  server/src/models/db_query_helper.ts
  server/src/models/prayer_request_chats_storage.ts
  server/src/models/storage_types.ts
  server/src/models/test/churches_storage.test.ts
  server/src/models/test/db_helpers.test.ts
  server/src/models/test/db_query_helper.test.ts
  server/src/models/test/prayer_request_chats_storage.test.ts
  server/src/models/test/users_storage.test.ts
  server/src/models/users_storage.ts
  server/src/routes/prayer_request_chats_routes.ts
  server/src/services/db.ts
  server/src/sql/dev_initialization.sql
  server/src/sql/prayer_requests.sql
  server/src/sql/users.sql
  server/src/test/db_test_helper.ts
  server/tsconfig.json
  tsconfig.json
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

More unit tests working for middleware
  server/src/middleware/error_handler.ts
  server/src/middleware/test/auth.test.ts
  server/src/middleware/test/error_handler.test.ts
  server/src/middleware/test/serve_static_html_file.test.ts
  server/src/middleware/test/validate.test.ts
  server/src/test/request_test_helper.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports
