Repository john-zli/proseek: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": [
    "prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

yeah okay
  .lintstagedrc
  .prettierrc
  server/src/models/prayer_requests_storage.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

what
  server/src/models/prayer_requests_storage.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

How is this
  .lintstagedrc
  .prettierrc
  server/src/models/prayer_requests_storage.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

hmmm
  server/src/models/prayer_requests_storage.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

what
  .prettierrc
  server/src/models/prayer_requests_storage.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

now?
  .prettierrc
  server/src/models/prayer_requests_storage.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

okay now?
  server/src/models/prayer_requests_storage.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

what about this?
  server/src/models/prayer_requests_storage.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

okay
  server/src/models/prayer_requests_storage.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

try again
  .prettierrc
  server/src/models/prayer_requests_storage.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

how is this
  .lintstagedrc
  .prettierrc
  bun.lock
  package.json
  server/src/models/prayer_requests_storage.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries, prettier --write

How about this
  .lintstagedrc
  bun.lock
  package.json
  server/src/models/prayer_requests_storage.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries, prettier --write

okay
  .eslintrc
  bun.lock
  client/README.md
  client/eslint.config.js
  client/src/App.tsx
  client/src/components/header.tsx
  client/src/components/map.tsx
  client/src/components/modal_manager.tsx
  client/src/components/modals/confirmation_modal.tsx
  client/src/components/modals/prayer_list_modal.tsx
  client/src/components/modals/video_call_modal.tsx
  client/src/contexts/modal_context_provider.tsx
  client/src/main.tsx
  client/src/shared-components/link.tsx
  client/src/shared-components/modal_container.tsx
  client/tsconfig.json
  client/vite.config.ts
  package.json
  server/README.md
  server/config.ts
  server/eslint.config.ts
  server/src/common/constants.ts
  server/src/common/route_errors.ts
  server/src/common/status_codes.ts
  server/src/config.ts
  server/src/index.ts
  server/src/logger.ts
  server/src/middleware/serve_static_html_file.ts
  server/src/models/churches_storage.ts
  server/src/models/storage_types.ts
  server/src/models/users_storage.ts
  server/src/routes/index.ts
  server/src/routes/prayer_requests.ts
  server/src/server.ts
  server/tsconfig.json
  server/tsconfig.prod.json
  tsconfig.json
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries, prettier --write

huh
  server/src/server.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

what
  server/src/server.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

what is this grouping
  server/src/server.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

prettier
  .eslintrc
  .eslintrc.json
  .lintstagedrc
  .prettierrc
  bun.lock
  client/eslint.config.js
  client/src/App.tsx
  client/src/components/header.tsx
  client/src/components/map.tsx
  client/src/components/modal_manager.tsx
  client/src/components/modals/confirmation_modal.module.less
  client/src/components/modals/prayer_list_modal.module.less
  client/src/components/modals/prayer_list_modal.tsx
  client/src/components/modals/video_call_modal.module.less
  client/src/components/modals/video_call_modal.tsx
  client/src/shared-components/button.module.less
  client/src/shared-components/link.module.less
  client/src/shared-components/link.tsx
  client/src/shared-components/modal_container.module.less
  client/src/shared-components/modal_container.tsx
  client/src/styles/constants.module.less
  client/vite.config.ts
  package.json
  server/config.ts
  server/eslint.config.ts
  server/src/db.ts
  server/src/routes/index.ts
  server/src/routes/prayer_requests.ts
  server/src/server.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries, prettier --write

idk what this is
  .lintstagedrc
Due: none

Add zod schemas
  bun.lock
  server/package.json
  server/src/middleware/validate.ts
  server/src/routes/prayer_requests.ts
  server/src/schemas/prayer_requests.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries, prettier --write

Add endpoints for church and user creation
  server/src/routes/churches.ts
  server/src/routes/index.ts
  server/src/routes/prayer_requests.ts
  server/src/routes/users.ts
  server/src/schemas/churches.ts
  server/src/schemas/users.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

Add new db queries and endpoints
  server/src/models/churches_storage.ts
  server/src/models/users_storage.ts
  server/src/routes/churches.ts
  server/src/routes/users.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

A lot of stuff
  bun.lock
  client/package.json
  client/src/App.module.less
  client/src/App.tsx
  client/src/api/prayer_requests.ts
  client/src/components/header.module.less
  client/src/components/header.tsx
  client/src/index.css
  client/src/shared-components/button.module.less
  client/src/styles/colors.module.less
  client/tsconfig.json
  client/tsconfig.node.json
  client/tsconfig.node.tsbuildinfo
  client/tsconfig.tsbuildinfo
  client/vite.config.d.ts
  client/vite.config.js
  common/server-api/types/prayer_requests.ts
  package.json
  server/config.ts
  server/package.json
  server/src/common/route_errors.ts
  server/src/models/storage_types.ts
  server/src/routes/index.ts
  server/src/server.ts
  server/tsconfig.json
  server/tsconfig.prod.json
  tsconfig.json
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries, prettier --write

More changes with common directory
  bun.lock
  client/package.json
  client/tsconfig.json
  client/tsconfig.node.json
  server/package.json
  server/src/routes/prayer_requests.ts
  server/tsconfig.json
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries, prettier --write

Rename to support chat
  client/src/api/prayer_request_chats.ts
  common/server-api/types/prayer_request_chats.ts
  server/src/models/prayer_request_chats_storage.ts
  server/src/models/storage_types.ts
  server/src/routes/index.ts
  server/src/routes/prayer_request_chats.ts
  server/src/schemas/prayer_request_chats.ts
  server/src/sql/core.sql
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

How does this look
  common/server-api/types/prayer_request_chat_messages.ts
  server/src/models/prayer_request_chat_messages_storage.ts
  server/src/models/prayer_request_chats_storage.ts
  server/src/models/prayer_requests_storage.ts
  server/src/routes/index.ts
  server/src/routes/prayer_request_chat_messages.ts
  server/src/schemas/prayer_request_chat_messages.ts
  server/src/sql/core.sql
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

figuring out scroll
  client/assets/attachment.svg
  client/assets/send.svg
  client/src/App.module.less
  client/src/App.tsx
  client/src/components/header.module.less
  client/src/index.css
  client/src/shared-components/button.tsx
  client/src/styles/constants.module.less
  client/src/styles/zindex.module.less
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

things are working
  client/src/App.module.less
  client/src/App.tsx
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

getting really far
  client/src/App.module.less
  client/src/App.tsx
  client/src/styles/colors.module.less
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

Adding a lot of changes
  client/src/App.tsx
  client/src/api/helpers.ts
  client/src/api/prayer_request_chats.ts
  client/src/components/prayer_chat.tsx
  common/server-api/types/prayer_request_chat_messages.ts
  common/server-api/types/prayer_request_chats.ts
  server/src/models/db_helpers.ts
  server/src/models/prayer_request_chat_messages_storage.ts
  server/src/models/prayer_request_chats_storage.ts
  server/src/routes/index.ts
  server/src/routes/prayer_request_chat_messages.ts
  server/src/routes/prayer_request_chats.ts
  server/src/schemas/prayer_request_chats.ts
  server/src/sql/core.sql
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

really cool
  bun.lock
  client/assets/clear.svg
  client/assets/settings.svg
  client/package.json
  client/src/App.module.less
  client/src/assets/react.svg
  client/src/components/prayer_chat.tsx
  client/src/shared-components/button.module.less
  client/src/shared-components/button.tsx
  client/src/shared-components/callout.module.less
  client/src/shared-components/callout.tsx
  client/src/shared-components/with_tooltip.module.less
  client/src/shared-components/with_tooltip.tsx
  client/src/styles/zindex.module.less
  common/server-api/types/prayer_request_chats.ts
  server/package.json
  server/src/sql/core.sql
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries, prettier --write

callout
  client/src/App.module.less
  client/src/components/prayer_chat.tsx
  client/src/shared-components/callout.module.less
  client/src/shared-components/callout.tsx
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

checkpoint
  client/src/components/modal_manager.tsx
  client/src/components/modals/contact_info_modal.module.less
  client/src/components/modals/contact_info_modal.tsx
  client/src/components/prayer_chat.tsx
  client/src/contexts/modal_context_provider.tsx
  client/src/shared-components/modal_container.module.less
  client/src/styles/colors.module.less
  common/server-api/types/prayer_request_chats.ts
  server/src/schemas/prayer_request_chats.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

more saving
  client/src/components/modals/contact_info_modal.module.less
  client/src/components/modals/contact_info_modal.tsx
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

Really good progres
  client/src/components/modals/contact_info_modal.module.less
  client/src/components/modals/contact_info_modal.tsx
  client/src/shared-components/button.module.less
  client/src/shared-components/button.tsx
  client/src/shared-components/checkbox_view.module.less
  client/src/shared-components/checkbox_view.tsx
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

changes
  client/src/components/prayer_chat.tsx
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

Schema updates
  client/src/api/prayer_request_chats.ts
  client/src/components/modal_manager.tsx
  client/src/components/modals/confirmation_modal.tsx
  client/src/components/modals/prayer_list_modal.module.less
  client/src/components/modals/prayer_list_modal.tsx
  client/src/components/modals/video_call_modal.tsx
  client/src/components/prayer_chat.tsx
  client/src/contexts/modal_context_provider.tsx
  common/server-api/types/prayer_request_chats.ts
  server/src/models/prayer_request_chats_storage.ts
  server/src/routes/prayer_request_chats.ts
  server/src/schemas/prayer_request_chats.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

Got DB stuff working
  client/src/api/prayer_request_chats.ts
  client/src/components/modal_manager.tsx
  client/src/components/modals/contact_info_modal.tsx
  client/src/components/modals/video_call_modal.module.less
  client/src/components/modals/video_call_modal.tsx
  client/src/components/prayer_chat.tsx
  client/src/contexts/modal_context_provider.tsx
  server/config.ts
  server/src/config.ts
  server/src/middleware/validate.ts
  server/src/models/prayer_request_chats_storage.ts
  server/src/routes/prayer_request_chats.ts
  server/src/schemas/prayer_request_chats.ts
  server/src/sql/core.sql
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

console log
  server/src/routes/prayer_request_chats.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries

add captcha support so no spamming of room creation
  bun.lock
  client/src/types/window.d.ts
  client/src/widget/use_captcha.tsx
  server/package.json
  server/src/routes/captcha.ts
  server/src/routes/prayer_request_chats.ts
  server/src/schemas/prayer_request_chats.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries, prettier --write

Gitignore
  client/src/api/prayer_request_chats.ts
  client/src/components/prayer_chat.tsx
  client/src/types/window.d.ts
  client/src/widget/use_captcha.tsx
  common/server-api/types/prayer_request_chats.ts
  server/.gitignore
  server/src/captcha.ts
  server/src/models/prayer_request_chats_storage.ts
  server/src/routes/captcha.ts
  server/src/routes/index.ts
  server/src/routes/prayer_request_chats.ts
Due: prettier --write --plugin=prettier-plugin-organize-imports --plugin=@trivago/prettier-plugin-sort-imports --experimental-ternaries
