Repository john-zli/proseek: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

Got very far, handle rest later
  bun.lock
  server/src/middleware/auth.ts
  server/src/routes/church_routes.ts
  server/src/routes/prayer_request_chats_routes.ts
  server/src/routes/test/church_routes.test.ts
  server/src/routes/test/prayer_request_chats_routes.test.ts
  server/src/routes/test/test_helpers.ts
  server/src/routes/test/user_routes.test.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

More test cases
  client/src/api/prayer_request_chats.ts
  server/src/middleware/verify_captcha.ts
  server/src/routes/test/prayer_request_chats_routes.test.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

All unit tests done
  server/src/middleware/test/auth.test.ts
  server/src/models/prayer_request_chats_storage.ts
  server/src/routes/prayer_request_chats_routes.ts
  server/src/routes/test/prayer_request_chats_routes.test.ts
  server/src/routes/test/user_routes.test.ts
  server/src/routes/user_routes.ts
  server/src/schemas/users.ts
  server/src/test/request_test_helper.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Unit tests for everything (#46)
  bun.lock
  client/src/api/prayer_request_chats.ts
  server/src/middleware/auth.ts
  server/src/middleware/error_handler.ts
  server/src/middleware/test/auth.test.ts
  server/src/middleware/test/error_handler.test.ts
  server/src/middleware/test/serve_static_html_file.test.ts
  server/src/middleware/test/validate.test.ts
  server/src/middleware/verify_captcha.ts
  server/src/models/prayer_request_chats_storage.ts
  server/src/routes/church_routes.ts
  server/src/routes/prayer_request_chats_routes.ts
  server/src/routes/test/church_routes.test.ts
  server/src/routes/test/prayer_request_chats_routes.test.ts
  server/src/routes/test/test_helpers.ts
  server/src/routes/test/user_routes.test.ts
  server/src/routes/user_routes.ts
  server/src/schemas/users.ts
  server/src/test/request_test_helper.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Servicesbuilder for everything
  bun.lock
  server/src/middleware/serve_static_html_file.ts
  server/src/middleware/verify_captcha.ts
  server/src/routes/api_router.ts
  server/src/routes/captcha_routes.ts
  server/src/routes/church_routes.ts
  server/src/routes/page_router.ts
  server/src/routes/prayer_request_chats_routes.ts
  server/src/routes/user_routes.ts
  server/src/services/captcha.ts
  server/src/services/geocode.ts
  server/src/services/services_builder.ts
  server/src/web-server/index.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Fake services
  server/src/middleware/verify_captcha.ts
  server/src/routes/test/church_routes.test.ts
  server/src/routes/test/prayer_request_chats_routes.test.ts
  server/src/routes/test/user_routes.test.ts
  server/src/routes/user_routes.ts
  server/src/services/services_builder.ts
  server/src/services/test/fake_captcha.ts
  server/src/services/test/fake_geolocation.ts
  server/src/services/test/fake_services_builder.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Fake Services Builder, and passing it in for dependency injection (#47)
  bun.lock
  server/src/middleware/serve_static_html_file.ts
  server/src/middleware/verify_captcha.ts
  server/src/routes/api_router.ts
  server/src/routes/captcha_routes.ts
  server/src/routes/church_routes.ts
  server/src/routes/page_router.ts
  server/src/routes/prayer_request_chats_routes.ts
  server/src/routes/test/church_routes.test.ts
  server/src/routes/test/prayer_request_chats_routes.test.ts
  server/src/routes/test/user_routes.test.ts
  server/src/routes/user_routes.ts
  server/src/services/captcha.ts
  server/src/services/geocode.ts
  server/src/services/services_builder.ts
  server/src/services/test/fake_captcha.ts
  server/src/services/test/fake_geolocation.ts
  server/src/services/test/fake_services_builder.ts
  server/src/web-server/index.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Add in a workflow and set it up a bit better. some new db queries
  common/server-api/types/prayer_request_chats.ts
  server/src/models/prayer_request_chats_storage.ts
  server/src/models/test/prayer_request_chats_storage.test.ts
  server/src/routes/api_router.ts
  server/src/routes/page_router.ts
  server/src/routes/prayer_request_chats_routes.ts
  server/src/sql/prayer_requests.sql
  server/src/types/workflows.ts
  server/src/web-server/queue-manager.ts
  server/src/web-server/server.ts
  server/src/workflow-server/index.ts
  server/src/workflow-server/recurring_job_manager.ts
  server/src/workflow-server/workflow_definitions.ts
  server/src/workflows/send_church_match_notifications.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Add in a SendMatchNotifications workflow and affiliated db queries
  common/server-api/types/prayer_request_chats.ts
  server/src/models/prayer_request_chats_storage.ts
  server/src/models/test/prayer_request_chats_storage.test.ts
  server/src/routes/api_router.ts
  server/src/routes/page_router.ts
  server/src/routes/prayer_request_chats_routes.ts
  server/src/sql/prayer_requests.sql
  server/src/types/workflows.ts
  server/src/web-server/queue-manager.ts
  server/src/web-server/server.ts
  server/src/workflow-server/index.ts
  server/src/workflow-server/recurring_job_manager.ts
  server/src/workflow-server/workflow_definitions.ts
  server/src/workflows/send_church_match_notifications.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Add haversine checking
  .gitignore
  common/server-api/types/prayer_request_chats.ts
  server/package.json
  server/src/controllers/create-prayer-request-controller/create_prayer_request_chat_controller.ts
  server/src/controllers/create-prayer-request-controller/helpers.ts .ts
  server/src/models/churches_storage.ts
  server/src/models/prayer_request_chats_storage.ts
  server/src/models/storage_types.ts
  server/src/models/test/prayer_request_chats_storage.test.ts
  server/src/routes/prayer_request_chats_routes.ts
  server/src/routes/test/prayer_request_chats_routes.test.ts
  server/src/services/geocode.ts
  server/src/services/test/fake_geocode.ts
  server/src/services/test/fake_services_builder.ts
  server/src/sql/prayer_requests.sql
  server/src/web-server/index.ts
  server/src/web-server/queue-manager.ts
  server/src/workflow-server/recurring_job_manager.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

lint
  server/src/controllers/create-prayer-request-controller/helpers.ts .ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Haversine for church matching. (#49)
  .gitignore
  common/server-api/types/prayer_request_chats.ts
  server/package.json
  server/src/controllers/create-prayer-request-controller/create_prayer_request_chat_controller.ts
  server/src/controllers/create-prayer-request-controller/helpers.ts .ts
  server/src/models/churches_storage.ts
  server/src/models/prayer_request_chats_storage.ts
  server/src/models/storage_types.ts
  server/src/models/test/prayer_request_chats_storage.test.ts
  server/src/routes/prayer_request_chats_routes.ts
  server/src/routes/test/prayer_request_chats_routes.test.ts
  server/src/services/geocode.ts
  server/src/services/test/fake_geocode.ts
  server/src/services/test/fake_services_builder.ts
  server/src/sql/prayer_requests.sql
  server/src/web-server/index.ts
  server/src/web-server/queue-manager.ts
  server/src/workflow-server/recurring_job_manager.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

Make worklfow servers grat again
  bun.lock
  server/package.json
  server/src/workflow-server/recurring_job_manager.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

Make worklfow servers grat again (#51)
  bun.lock
  server/package.json
  server/src/workflow-server/recurring_job_manager.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

Cleanup of old files
  client/assets/baby.webp
  client/assets/logo.png
  client/src/App.css
  client/tsconfig.node.tsbuildinfo
  client/tsconfig.tsbuildinfo
  client/vite.config.js
  server/src/middleware/session.ts
  server/src/workflow-server/index.ts
  server/src/workflow-server/recurring_job_manager.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Cleanup of old files (#52)
  client/assets/baby.webp
  client/assets/logo.png
  client/src/App.css
  client/tsconfig.node.tsbuildinfo
  client/tsconfig.tsbuildinfo
  client/vite.config.js
  server/src/middleware/session.ts
  server/src/workflow-server/index.ts
  server/src/workflow-server/recurring_job_manager.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Add in workflow storage for audit logging and for consolidationg for workflow serevr
  server/src/models/storage_types.ts
  server/src/models/test/workflows_storage.test.ts
  server/src/models/workflows_storage.ts
  server/src/sql/setup.sql
  server/src/sql/workflows.sql
  server/src/types/workflows.ts
  server/src/web-server/queue-manager.ts
  server/src/workflow-server/workflow_definitions.ts
  server/src/workflows/send_church_match_notifications.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Add in workflow storage for audit logging and for consolidationg for workflow serevr (#53)
  server/src/models/storage_types.ts
  server/src/models/test/workflows_storage.test.ts
  server/src/models/workflows_storage.ts
  server/src/sql/setup.sql
  server/src/sql/workflows.sql
  server/src/types/workflows.ts
  server/src/web-server/queue-manager.ts
  server/src/workflow-server/workflow_definitions.ts
  server/src/workflows/send_church_match_notifications.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

So many lint issues that will be fixed
  .eslintrc.json
  bun.lock
  client/eslint.config.js
  client/package.json
  client/src/api/prayer_request_chats.ts
  client/src/api/users.ts
  client/src/components/login_page.tsx
  client/src/components/modals/chatroom_verification_modal.tsx
  client/src/components/modals/contact_info_modal.tsx
  client/src/components/prayer_chat.tsx
  client/src/shared-components/modal_container.tsx
  client/src/types/window.d.ts
  client/src/widget/use_captcha.tsx
  common/server-api/types/prayer_request_chats.ts
  server/bun.lock
  server/config.ts
  server/eslint.config.ts
  server/package.json
  server/src/config.ts
  server/src/middleware/ip_geolocation.ts
  server/src/middleware/session.ts
  server/src/models/db_helpers.ts
  server/src/models/db_query_helper.ts
  server/src/models/test/db_helpers.test.ts
  server/src/routes/church_routes.ts
  server/src/routes/prayer_request_chats_routes.ts
  server/src/routes/test/church_routes.test.ts
  server/src/routes/test/prayer_request_chats_routes.test.ts
  server/src/routes/test/user_routes.test.ts
  server/src/routes/user_routes.ts
  server/src/test/request_test_helper.ts
  server/src/web-server/server.ts
  server/src/workflow-server/index.ts
  server/tsconfig.json
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

More changes
  server/src/middleware/test/auth.test.ts
  server/src/models/test/db_query_helper.test.ts
  server/src/models/test/workflows_storage.test.ts
  server/src/routes/test/test_helpers.ts
  server/src/routes/user_routes.ts
  server/src/types/workflows.ts
  server/src/web-server/server.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Lint and new bun test isolation
  server/package.json
  server/scripts/test_runner.sh
  server/src/routes/church_routes.ts
  server/src/routes/test/church_routes.test.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

update prettier
  .prettierrc
  server/src/config.ts
  server/src/controllers/create-prayer-request-controller/create_prayer_request_chat_controller.ts
  server/src/controllers/create-prayer-request-controller/helpers.ts .ts
  server/src/middleware/auth.ts
  server/src/middleware/error_handler.ts
  server/src/middleware/ip_geolocation.ts
  server/src/middleware/session.ts
  server/src/middleware/test/auth.test.ts
  server/src/middleware/test/error_handler.test.ts
  server/src/middleware/test/serve_static_html_file.test.ts
  server/src/middleware/test/validate.test.ts
  server/src/middleware/validate.ts
  server/src/models/test/prayer_request_chats_storage.test.ts
  server/src/models/test/users_storage.test.ts
  server/src/routes/api_router.ts
  server/src/routes/captcha_routes.ts
  server/src/routes/church_routes.ts
  server/src/routes/page_router.ts
  server/src/routes/prayer_request_chats_routes.ts
  server/src/routes/test/prayer_request_chats_routes.test.ts
  server/src/routes/test/test_helpers.ts
  server/src/routes/user_routes.ts
  server/src/services/db.ts
  server/src/services/geocode.ts
  server/src/web-server/queue-manager.ts
  server/src/web-server/server.ts
  server/src/workflow-server/index.ts
  server/src/workflow-server/recurring_job_manager.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

lint
  server/src/middleware/verify_captcha.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Fix up captcha
  bun.lock
  server/package.json
  server/src/services/captcha.ts
  server/src/sql/prayer_requests.sql
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

Fix up captcha (#55)
  bun.lock
  server/package.json
  server/src/services/captcha.ts
  server/src/sql/prayer_requests.sql
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

Fix cpatcha typings
  server/src/services/test/fake_captcha.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Fix cpatcha typings (#56)
  server/src/services/test/fake_captcha.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Adding upsert job scheduling
  server/ecosystem.config.js
  server/src/models/storage_types.ts
  server/src/models/workflows_storage.ts
  server/src/types/workflows.ts
  server/src/web-server/index.ts
  server/src/web-server/queue-manager.ts
  server/src/workflow-server/queue_manager.ts
  server/src/workflow-server/recurring_job_manager.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Add serena config and formatting fixes
  .serena/.gitignore
  .serena/project.yml
  server/package.json
  server/tsconfig.json
Due: prettier --write

Updating tests and refactorgin to be cleaner
  server/src/models/test/workflows_storage.test.ts
  server/src/models/workflows_storage.ts
  server/src/workflow-server/queue_manager.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports

Consolidate queue management into workflow server (#57)
  .serena/.gitignore
  .serena/project.yml
  server/ecosystem.config.js
  server/package.json
  server/src/models/storage_types.ts
  server/src/models/test/workflows_storage.test.ts
  server/src/models/workflows_storage.ts
  server/src/types/workflows.ts
  server/src/web-server/index.ts
  server/src/web-server/queue-manager.ts
  server/src/workflow-server/queue_manager.ts
  server/src/workflow-server/recurring_job_manager.ts
  server/tsconfig.json
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

Fix bun test discovery to exclude dist and work from root
  bunfig.toml
  package.json
  server/bunfig.toml
Due: prettier --write

Fix bun test discovery to exclude dist and work from root (#58)
  bunfig.toml
  package.json
  server/bunfig.toml
Due: prettier --write

Update all READMEs, add CLAUDE.md, and make bootstrap idempotent
  CLAUDE.md
  README.md
  client/README.md
  server/Makefile
  server/README.md
  server/scripts/bootstrap.sh
Due: prettier --write

Update all READMEs, add CLAUDE.md, and make bootstrap idempotent (#59)
  CLAUDE.md
  README.md
  client/README.md
  server/Makefile
  server/README.md
  server/scripts/bootstrap.sh
Due: prettier --write

Implement send_church_match_notifications workflow with email sending
  CLAUDE.md
  bun.lock
  server/README.md
  server/package.json
  server/src/controllers/create-prayer-request-controller/create_prayer_request_chat_controller.ts
  server/src/controllers/create-prayer-request-controller/helpers.ts .ts
  server/src/middleware/verify_captcha.ts
  server/src/models/churches_storage.ts
  server/src/models/db_query_helper.ts
  server/src/models/storage_types.ts
  server/src/models/test/churches_storage.test.ts
  server/src/models/test/prayer_request_chats_storage.test.ts
  server/src/models/test/users_storage.test.ts
  server/src/routes/api_router.ts
  server/src/routes/captcha_routes.ts
  server/src/routes/church_routes.ts
  server/src/routes/prayer_request_chats_routes.ts
  server/src/routes/test/church_routes.test.ts
  server/src/routes/test/prayer_request_chats_routes.test.ts
  server/src/routes/test/user_routes.test.ts
  server/src/schemas/churches.ts
  server/src/services/email.ts
  server/src/services/interfaces.ts
  server/src/services/services_builder.ts
  server/src/services/test/fake_captcha.ts
  server/src/services/test/fake_email.ts
  server/src/services/test/fake_geocode.ts
  server/src/services/test/fake_services_builder.ts
  server/src/sql/churches.sql
  server/src/sql/dev_additions.sql
  server/src/workflow-server/index.ts
  server/src/workflows/send_church_match_notifications.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

More cleanup
  CLAUDE.md
  server/src/config.ts
  server/src/middleware/session.ts
  server/src/services/email.ts
  server/src/types/workflows.ts
  server/src/web-server/server.ts
  server/src/workflows/send_church_match_notifications.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

End to end working once again
  client/src/assets/attachment.svg
  client/src/assets/clear.svg
  client/src/assets/send.svg
  client/src/assets/settings.svg
  client/src/components/prayer_chat.tsx
  server/Makefile
  server/README.md
  server/config/.env.development
  server/config/.env.production
  server/config/.env.test
  server/scripts/bootstrap.sh
  server/scripts/migrations.sh
  server/scripts/setup_test_db.sh
  server/src/config.ts
  server/src/sql/churches.sql
  server/src/workflow-server/index.ts
  server/src/workflow-server/queue_manager.ts
Due: prettier --write --plugin=@trivago/prettier-plugin-sort-imports, prettier --write

Path conditions:
  prettier --write --plugin=@trivago/prettier-plugin-sort-imports: any of: *.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md}
